---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
---

<Layout title="Impressum | Entwickler aus Würzburg">
    <Navigation />
    <main class="mt-20">
        <h1 class="text-6xl mb-10 font-bold">Impressum</h1>
        <p>
            Domenic Walther<br />
            Weinbergweg 5<br />
            97280 Remlingen
        </p>

        <h2 class="text-4xl font-bold mb-5 mt-10">Kontakt</h2>
        <p>
            Telefon: 0174 7196160<br />
            E-Mail: <a href="mailto:domenic.walther@gmx.de"
                >domenicwalther@gmx.de</a
            >
        </p>

        <p class="mt-5">
            Quelle: <a href="https://www.e-recht24.de">eRecht24</a>
        </p>
    </main>
</Layout>
