---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
---

<Layout title="Impressum | Entwickler aus Würzburg">
    <Navigation />
    <h1>Hallo Welt</h1>
</Layout>
