---
import Card from "../components/Card.astro";
import Navigation from "../components/Navigation.astro";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import selfPortrait from "../../public/Domenic.jpg";
---

<script>
    import carousel from "../scripts/Typewriter.js";
    document.addEventListener("DOMContentLoaded", () => {
        const eleRef = document.getElementById("typewriter");
        carousel(
            [
                "Technik-Enthusiast.",
                "Bug-Jäger.",
                "Leidenschaftlicher Fotograf.",
                "Code-Künstler.",
            ],
            eleRef,
        );
    });
</script>
<Layout title="Domenic Walther | Entwickler aus Würzburg">
    <Navigation />
    <main class="text-[#323232] pb-96">
        <section class="mt-20 flex gap-40">
            <div>
                <h1 class="text-8xl font-bold leading-[0.8]">
                    HI <span class="text-5xl font-light">ich bin</span>
                    <br /> DOMENIC
                </h1>
                <h2 class="text-4xl mt-3 font-extralight">
                    Ein <span id="typewriter"></span><div class="input-cursor">
                    </div>
                </h2>
                <p class="mt-5 text-sm font-light">
                    Als Fullstack-Entwickler arbeite ich gerne mit Svelte im
                    Frontend und Go sowie Node.js im Backend, bin aber immer auf
                    der Suche nach neuen Technologien und Ansätzen, um mein
                    Spektrum zu erweitern. Meine Begeisterung für Technik
                    motiviert mich, mich kontinuierlich weiterzubilden und die
                    neuesten Branchentrends zu erkunden. Ich freue mich darauf,
                    in einem dynamischen Umfeld zu arbeiten, das meine
                    Fähigkeiten herausfordert und mein Wachstum fördert.
                </p>
            </div>
            <Image
                src={selfPortrait}
                alt="Domenic Walther"
                class="w-full max-w-96"
            />
        </section>

        <section class="mt-20">
            <h2 class="text-5xl font-bold">MEINE <br />PROJEKTE</h2>
            <div
                class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-7 mt-10"
            >
                <Card
                    title="Foto-Studio Schwab Remlingen"
                    description="Vollständige Überarbeitung mit Fokus auf modernem Design, SEO-Optimierung und schnelleren Ladezeiten. Einsatz von Webflow ermöglicht dem Studio einfache Inhaltsaktuallisierung ohne Wordpress."
                />
                <Card
                    title="PhotoFlow"
                    description="Löst das Problem manueller Auftragsverfolgung im Fotostudio Schwab Remlingen durch ein SvelteKit-Tool. Ersetzt Papierlisten durch eine digitale Aufgabenliste, welche auch offline im Internen Netzwerk funktioniert."
                />
                <Card
                    title="Lens Ledger"
                    description="Ein intern entwickeltes Tool für Foto-Studio Schwab Remlingen. Auftragszettel werden digital erstellt und direkt in das PhotoFlow System eingespeist sowie eine PDF für den Auftrag gedruckt."
                />
                <Card
                    title="SnapTrack"
                    description="Ein intern entwickeltes Tool für Foto-Studio Schwab Remlingen. Automatisiert das versenden von digitalen Kindergartenbestellungen."
                />

                <Card
                    title="domenic.dev"
                    description="Mein persönliches Portfolio, welches mit Astro und Tailwind CSS erstellt wurde. Es ist eine statische Seite, die auf Vercel gehostet wird."
                />
            </div>
        </section>

        <section class="mt-20">
            <h2 class="text-5xl font-bold">ÜBER MICH</h2>
        </section>
    </main>
</Layout>

<style>
    .input-cursor {
        display: inline-block;
        width: 2px;
        height: 2.25rem;
        background-color: #323232;
        transform: translatey(3px);
        animation: blink 0.6s linear infinite alternate;
    }
    @keyframes blink {
        0% {
            opacity: 1;
        }
        40% {
            opacity: 1;
        }
        60% {
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }
</style>
