---
import Navigation from "../components/Navigation.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Domenic">
    <Navigation />
    <main class="text-[#323232]">
        <section class="mt-20">
            <h1 class="text-9xl font-bold leading-[0.8]">
                HI <span class="text-5xl font-light">ich bin</span>
                <br /> DOMENIC
            </h1>
        </section>
    </main>
</Layout>
