<footer class="flex justify-between mt-12 bg-red">
    <p>domenic.dev</p>
    <div class="flex gap-10">
        <ul class="flex gap-5 flex-col">
            <li>1. STARTSEITE</li>
            <li>2. PROJEKTE</li>
            <li>3. ÜBER MICH</li>
            <li>4. KONTAKT</li>
        </ul>
        <ul class="flex gap-5 flex-col">
            <a href="/impressum">Impressum</a>
            <a href="/datenschutz">Datenschutz</a>
        </ul>
    </div>
</footer>
