<nav class="flex justify-between mt-12">
    <a href="/"><p>domenic.dev</p> </a>
    <ul class="flex gap-5">
        <a href="/"><li>1. STARTSEITE</li> </a>
        <a href="/#projects"><li>2. PROJEKTE</li> </a>
        <a href="/#about-me"><li>3. ÜBER MICH</li></a>
        <li>4. KONTAKT</li>
    </ul>
</nav>
