<nav class="flex justify-between mt-12">
    <p>domenic.dev</p>
    <ul class="flex gap-5">
        <li>1. STARTSEITE</li>
        <li>2. PROJEKTE</li>
        <li>3. ÜBER MICH</li>
        <li>4. KONTAKT</li>
    </ul>
</nav>
